numpy
pandas
matplotlib
yfinance
scikit-learn
torch
torchvision
torchaudio           
langchain
langchain-openai
langchain-community
faiss-cpu
tensorflow
fastapi
uvicorn
tensorflow
joblib


pytest
httpx
langchain-chroma
pypdf
python-multipart
